@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    all: inherit;
    display: contents;
  }
}

@layer components {
  .c-container {
    @apply
    container mx-auto
  }

  .c-bg-primary {
    @apply bg-[#EFEFEF] dark:bg-dark text-dark dark:text-white transition ease-in-out
  }

  .c-bg-secondary {
    @apply bg-white/90 dark:bg-dark/90 text-dark dark:text-white transition ease-in-out backdrop-blur-sm
  }

  .c-button-primary {
    @apply
    bg-primary rounded-full drop-shadow-lg text-white hover:bg-secondary transition ease-in-out flex justify-center items-center px-3 py-1
  }

  .c-button-secondary {
    @apply
    c-bg-secondary backdrop-blur-md transition ease-in-out rounded px-5 py-3 text-2xl
  }

  .modal {
    @apply bg-primaryTransparent fixed top-0 left-0 w-full h-full flex justify-center items-center z-[999]
  }

  .c-title {
    @apply text-2xl font-bold
  }

  .c-subtitle {
    @apply text-xl font-medium
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: auto;
    scrollbar-width: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: #fff;
  background: rgba(127, 171, 190, 0.8);
}
