.formStep {
  li + li::before {
    content: "";
    position: absolute;
    top: 26px;
    right: calc(100% - 8px);
    width: 220px;
    height: 1px;
    z-index: 1;
    background-color: #d9d9d9;
  }
}
